# dependencies
node_modules

# next.js
.next/
out/

# production
build
dist
dist-ssr

# misc
.DS_Store
*.pem
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local env files
*.local
.env

# editor
.vscode/*
!.vscode/extensions.json
.idea

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/portfolio.db
prisma/portfolio.db-journal
